@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
  color: rgb(15 23 42);
  background-color: rgb(241 245 249);
}

h1,
h2,
h3 {
  font-family: Fraunces;
}

li {
  list-style: none;
}
