@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: Poppins;
  @apply transition-colors duration-100;
}

@layer base {
  :root {
    --background: hsl(32, 87%, 97%);
    --text: hsl(28, 41%, 7%);
    --card: #ffffff;
  }
}

.dark #main {
  background-image: url("/stars.png");
  background-repeat: repeat;
}

.dark {
  --background: hsl(28, 41%, 7%);
  --text: hsl(32, 87%, 97%);
  --card: hsl(28, 41%, 7%);
}

.dark .noise {
  background: radial-gradient(transparent, #19110b78), url("/noise-filter.svg");
  filter: contrast(1000%) brightness(100%);
  mix-blend-mode: screen;
}

.noise {
  background: radial-gradient(rgba(7, 7, 7, 0.806), transparent),
    url("/noise-filter.svg");
  filter: contrast(250%) brightness(600%);
  mix-blend-mode: screen;
}

.title {
  --c: #1dd3b01a;
  color: #ffffffa0;
  text-shadow: 5px 5px var(--c), 10px 10px var(--c), 15px 15px var(--c),
    20px 20px var(--c), 40px 40px 15px var(--c);
  font-size: calc(5vw + 5vh);
}

.element {
  background: radial-gradient(
      110.35% 80.79% at 6% 103.92%,
      rgba(37, 169, 239, 1) 0%,
      rgba(37, 169, 239, 0) 100%
    ),
    linear-gradient(
      169.3deg,
      rgba(205, 249, 232, 1) 15%,
      rgba(205, 249, 232, 0) 46%
    ),
    radial-gradient(
      123% 73% at 107% 96%,
      rgba(255, 253, 177, 1) 20%,
      rgba(254, 228, 191, 1) 60%,
      rgba(240, 189, 208, 1) 75%,
      rgba(255, 129, 38, 0) 100%
    ),
    linear-gradient(0deg, rgba(0, 204, 131, 1) 0%, rgba(0, 204, 131, 1) 100%);
}

h1,
h2 {
  font-family: Fraunces;
}

li {
  list-style: none;
}

.right-arrow {
  mask-image: url("/arrow.png");
  mask-repeat: no-repeat;
  background: var(--text);
  color: var(--background);
}

.mask {
  mask-image: url("/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 30px;
  background: var(--text);
  position: absolute;
  color: var(--background);
  width: full;
  height: full;
  z-index: 9999;
}
