@import "../src/assets/fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body: hsl(35, 55%, 92%);
    --primary: hsl(24, 28%, 7%);
    --card: hsl(0, 0%, 100%);
  }
}

.dark {
  --body: hsl(24, 28%, 7%);
  --primary: hsl(35, 55%, 92%);
  --card: hsl(24, 28%, 7%);
}

.dark #main {
  background-image: url("/stars.png");
  background-repeat: repeat;
}

body {
  @apply transition-colors duration-100;
  @apply font-dogica;
  @apply bg-body text-primary;
}

.container {
  @apply max-w-screen-xl;
  @apply px-4;
}

.icon-mask {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
